@import '../src/scss/themes/theme-dark.scss';
@import '../src/scss/themes/theme-light.scss';
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Montserrat:ital,wght@0,400;1,500&family=PT+Sans&display=swap');

$base-color: #97b6b2;
$secondary-color: #ded0b8;
$text-color: #353239;
$color-primary-white: rgb(240, 240, 240);
$off-white: #FAF9F6;

html {
	font-size: 62.5%;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	scroll-padding-top: 86px; /* height of sticky header */
	color: $text-color;
	scroll-behavior: smooth;
}

.aligner {
	display: flex;
	align-items: center;
	justify-content: center;
}

.title-container {
	height: 50px;
}

.title-styles {
	font-family: 'Montserrat', sans-serif;
	font-size: 250%;
}



  /*
	LANDING_PAGE
  */

.header-icon {
	height: 150px;
	width: 150px;
}

header {
	position: relative;
	height: 520px;
	min-height: 450px;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	text-align: center;
	overflow: hidden;
	background-color: $base-color;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-top: 150px;
	padding-bottom: 0;
	font-family: 'Montserrat', sans-serif;
}

header h1 {
	font-size: 600%;
	font-weight: 550 !important;
	color: #353239;
	margin: 0 auto auto auto;
	width: 100%;
}

header .headline {
	text-align: left;
	padding-left: 6rem;
	animation: slide-in-right 3s
}

header img {
	height: 100vh;
	animation: slide-in-left 3s
}

  /*
	ABOUT
  */

#about {
	background: #fff;
	overflow: hidden;
	padding: 10em;
}

#about h1 {
	text-align: left;
	animation: slide-in-bottom 1s;
	margin-left: 5em;
}

#about h3 {
	font-family: 'Montserrat', sans-serif;
	color: $text-color;
	text-align: left;
	line-height: 2em;
	
}

#about .des {
	margin: 2em 15em 0em 15em;
	padding: 2em;
	// border: 0.25em dashed black;
	// background-color: $base-color;
}

/*
	PROJECTS
*/


#projects {
	background-color: $off-white;
}

/*
	PROJECT
*/

.project {
	.post {
	    font-family: "Montserrat", sans-serif;
		text-decoration: none;
		color: inherit;
		width: 40rem;
		height: 12rem;
		position: relative;
		padding: 2rem;
		box-shadow: inset 0 0 0 0.3em #000, inset -4px -4px 0 6px #ccc;
		background-color: #FFF;
		cursor: pointer; 
	&:before {
		position: absolute; 
		left: 0;
		bottom: 0;
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: #000;
		transform-origin: 0 bottom 0;
		transform: scaleY(0);
		transition: .4s ease-out;
	}
	
	&:hover {
		.post-description {
			color: #FFF;
		}
		.post-title {
			color: #FFF;
		}
		
		&:before {
			transform: scaleY(1);
		}
	}
	
}


.card {
	width: 40rem;
	height: 30rem;
	border-radius: 10px;
	overflow: hidden;
	cursor: pointer;
	position: relative;
	color: $color-primary-white;
	box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
	font-family: 'Montserrat', sans-serif;
	margin: 1em;

	img {
		position: absolute;
		object-fit: fill;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		transition: opacity .2s ease-out;
		opacity: 90;
	}

	h2 {
		position: absolute;
		inset: auto auto 15px 15px;
		margin: 0;
		transition: inset .3s .3s ease-out;
		text-transform: uppercase;
		color: $text-color;
		padding: 0.2em;
		font-weight: 600;
		display: none;
	}

	p, a {
		position: absolute;
		opacity: 0;
		max-width: 80%;
		transition: opacity .3s ease-out;
		font-size: 160%;
		font-weight: bolder;
	}

	p {
		inset: 100px auto 80px 30px;
	}

	a {
		inset: auto auto 40px 30px;
		color: inherit;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}

	&:hover h2 {
		inset: auto auto 220px 30px;
		transition: inset .3s ease-out;
		color: $text-color;
		display: block;
	}

	&:hover p, &:hover a {
		opacity: 1;
		transition: opacity .5s .1s ease-in;
		color: $text-color;
	}

	&:hover img {
		transition: opacity .3s ease-in;
		opacity: 0;
		background-color: $base-color;
	}

	}

	.material-symbols-outlined {
	vertical-align: middle;
}

	.post-title {
		position: relative;
		font-size: 2rem;
		font-weight: 700;
		line-height: 1.333;
		transition: .4s ease-out;
	}
}

/*
	SKILLS
*/

#skills h1 {
	color: white;
	margin: 2em;
	text-align: center;
	font-weight: 400;
}

.highlighted {
	font-style: normal;
    position: relative;
    display: inline;
    box-decoration-break: clone;
    padding: 0.1em 0.2em;
    border-radius: 0.2em;
    background: hsl(hue($base-color), 50%, 40%);
	font-weight: 600;
}
.skills-tile {
	
	padding: 10px 10px 5px 10px;
	width: 100px;
	margin: 5px 0 5px 0;
	border-radius: 8px;
	color: $off-white;
	font-family: 'Montserrat', sans-serif;
	border: dashed $text-color;
}

#skills {
	background: #1F1F1F;
	width: 100%;
	overflow: hidden;
}

/*
	EXPERIENCE
*/
#experience {
	background-color: $secondary-color;
	h1 {
		text-transform: uppercase;
		padding-bottom: 1em;
		font-size: 3rem;
	}
	.butter {
		background-image: linear-gradient(8deg, $text-color 60%, hsl(hue($base-color), 50%, 40%) 0);
		background-clip: text;
		background-color: $text-color;
		color: $secondary_color;
		-webkit-text-stroke-color: transparent;
		-webkit-text-stroke-width: 0.15em;
		font-weight: 500;
		letter-spacing: 0.2em;
	}

	.experience-item {
		border-top: thick double $text-color;
		padding-top: 1rem;
		padding-bottom: 1rem;
		font-size: 2rem;
		.year {
			font-weight: 300;
		}
		.company {
			font-weight: 500;
		}
		.title {
			font-weight: 400;
		}
		.description {
			font-weight: 300;
		}
	}
}

/*
	Modal
*/

.modal-inside .modal-content {
	background: $off-white;
	padding: 1em;
	border-radius: 1em;
	width: 100rem;
}

.modal-close {
	text-align: right;
	padding: 0px 1.5px;
	cursor: pointer;
}

.close-icon {
	color: hsl(hue($text-color), 10%, 40%);
	font-weight: lighter !important;
	text-shadow: 2px 2px 0px hsl(hue($secondary-color), 70%, 75%);
	padding: 0.5em;
}

.aws-btn {

	--slider-height-percentage: 60%;
	--slider-transition-duration: 500ms;
	--organic-arrow-thickness: 5px;
	--organic-arrow-border-radius: 10px;
	--organic-arrow-height: 31px;
	--organic-arrow-color: #000000;
	--control-button-width: 5%;
	--control-button-height: 35%;
	--control-button-background: transparent;
	--control-bullet-color: #333333;
	--control-bullet-active-color: #333333;
	--loader-bar-color: #ffffff;
	--loader-bar-height: 5px;
}


@supports (-webkit-background-clip: text) {
	h1 {
		color: transparent;
		background: linear-gradient(7deg, $secondary-color 50%, $base-color 0);
		-webkit-background-clip: text;
	}
}

.language {
	font-size: 25px;
	background-color: #e9d5a1;
	padding-bottom: 10px;
	padding-top: 80px;
}


.styles_typicalWrapper__1_Uvh::after {
	cursor: none !important;
	display: none;
}



.link-href {
	color: black;
}

.wave {
	font-size: 160%;
}

.font-trebuchet {
	font-family: 'PT Sans', sans-serif;
}

#preview {
	width: 500px;
	background-color: #ebeaf5;
	padding: 15px;
	position: relative;
	margin-bottom: 15%;
}

.center {
	display: flex;
	justify-content: center;
	align-items: center;
}

#resume {
	background: #efe1bd;
}

.experience-icon {
	font-size: 300%;
	margin-top: 25%;
	text-align: center;
}

.main-badge {
	font-size: 13px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #AE944F !important;
	color: white;
	font-weight: lighter !important;
	font-family: 'PT Sans', sans-serif;
}

.experience-badge {
	font-size: 11px !important;
	text-align: left !important;
	padding: 5px 8px 5px 8px !important;
	vertical-align: baseline;
	background-color: #f9f5e9 !important;
	color: black;
	font-weight: lighter !important;
	font-family: 'PT Sans', sans-serif;
}

.vertical-timeline-element-date {
	padding: 0 !important;
	margin: 0 !important;
}

@media only screen and (max-width: 1170px) {
	.experience-icon {
		font-size: 170%;
		margin-top: 27%;
		text-align: center;
	}
}



.bars {
	width: 95%;
	float: left;
	padding: 0;
	text-align: left;
}

.bars .skills {
	margin-top: 36px;
	list-style: none;
}

.bars li {
	position: relative;
	margin-bottom: 60px;
	background: #ccc;
	height: 42px;
	border-radius: 3px;
}

.bars li em {
	font: 15px 'opensans-bold', sans-serif;
	color: #313131;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
	position: relative;
	top: -36px;
}

.bar-expand {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding-right: 24px;
	background: #313131;
	display: inline-block;
	height: 42px;
	line-height: 42px;
	border-radius: 3px 0 0 3px;
}

.modal-description {
	text-align: justify;
	padding: 5px 5px 0 5px;
	margin-bottom: 20px;
	font-size: 12px;
}

.awssld__next {
	outline: none !important;
}

.awssld__prev {
	outline: none !important;
}

.loader-bar-color {
	color: black !important;
}




.section-title {
	font-size: 250%;
	font-weight: 400;
	font: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	color: $text-color;
}

.section-div {
	padding-right: 0;
	padding-left: 0;
	padding: 10em;
}

.skill-icon {
	font-size: 180%;
	color: white;
	text-align: center;
	position: relative;
}

footer {
	background: $text-color;
	min-height: 100px;
	width: 100%;
	overflow: hidden;
	font-size: 2rem;
	font-weight: bold;
	color: $off-white;
	position: relative;
	text-align: center;
}

footer a,
footer a:visited {
	color: #fff;
}

footer a:hover,
footer a:focus {
	color: #fff;
}

.social-links {
	margin-top: 50px;
	font-size: 22px;
}

div .align-right {
	text-align: right;
	top: 50%;
}

div .align-left {
	text-align: left;
}

h1 {
	font-size: 50px;
}

@keyframes slide-in-left {
0% {
	-webkit-transform: translateX(-100px);
			transform: translateX(-100px);
	opacity: 0;
}
100% {
	-webkit-transform: translateX(0);
			transform: translateX(0);
	opacity: 1;
}
}

@keyframes slide-in-bottom {
	0% {
		-webkit-transform: translateY(100px);
				transform: translateY(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateY(0);
				transform: translateY(0);
		opacity: 1;
	}
}

@keyframes slide-in-right {
	0% {
		-webkit-transform: translateX(100px);
				transform: translateX(100px);
		opacity: 0;
	}
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
		opacity: 1;
	}
}

@keyframes tracking-in-contract {
	0% {
	  letter-spacing: 1em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  letter-spacing: normal;
	  opacity: 1;
	}
}
  
  

  /* The typing effect */
@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: $text-color; }
  }

  .wavy-underlined {
	font-weight: 600;
	position: relative;
	white-space: nowrap;
	&:after {
	  --deco-height: 0.3125em;
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: calc(var(--deco-height) * -0.625);
	  height: var(--deco-height);
	  background-image: url("data:image/svg+xml,%3Csvg width='100' height='64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23a)'%3E%3Cpath d='M-17 30.5C-1 22 72-4 54 13 37.9 28.2-2.5 57.5 16 55.5s72-29 104-40' stroke='%2300FDCF' stroke-width='10'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='a'%3E%3Cpath fill='%23fff' d='M0 0h100v64H0z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
	  background-size: auto 100%;
	  background-repeat: round;
	  background-position: 0em;
	}
  }

  