$base-color: #950588;
$secondary-color: #ded0b8;
$text-color: #353239;
$color-primary-white: rgb(240, 240, 240);
$off-white: #FAF9F6;

.section-div {
    padding: 10em;
}

.section-title {
	letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
}

body {
    font: 'Montserrat', sans-serif;
}