/*
	LANDING_PAGE
*/
.landing-page {
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
	padding-top: 3em;
}
.name {
	font-size: 700%;
	font-family: 'Caveat';
	color: black;
	margin: 0 auto auto auto;
	width: 100%;
}

.headline {
	padding: 0 5%;
}

.wavy-underlined {
	position: relative;
	white-space: nowrap;
	&:after {
	  --deco-height: 0.5em;
	  content: "";
	  position: absolute;
	  left: 0;
	  right: 0;
	  bottom: calc(var(--deco-height) * -0.625);
	  height: var(--deco-height);
	  background-image: url("data:image/svg+xml,<svg width='100' height='64' color='red' fill='none'%20xmlns='http://www.w3.org/2000/svg'><g%20clip-path='url(%23a)'><path%20d='M-17%2030.5C-1%2022%2072-4%2054%2013%2037.9%2028.2-2.5%2057.5%2016%2055.5s72-29%20104-40'%20stroke='%23990099'%20stroke-width='10'/></g><defs><clipPath%20id='a'><path%20fill='%23990099'%20d='M0%200h100v64H0z'/></clipPath></defs></svg>%0A");
	
	  background-size: auto 100%;
	  background-repeat: round;
	  background-position: 0em;
	}
  }