
@import 'Common.scss';

/*
	PROJECTS
*/
.basecolor {
	color: $base-color;
	-webkit-text-stroke-color: $base-color;
}
.magenta-handwriting {
	font-size: 3rem;
	font-weight: 700;
	font-family: 'Caveat';
	color: $base-color;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $base-color;
    // text-decoration: overline $base-color;
	text-transform: uppercase;
	letter-spacing: 0.25em;
}

.projects {
	padding: 0% 2% 0 0;
}