.project-card {
    background-color: transparent;
    // width: 28em;
    // height: 60em;
    margin: 3%;
    font-family: 'Montserrat', sans-serif;
  }

  
  .project-title {
    position: relative;
    font-size: 2.5em;
    margin: 0;
    outline: 0.1em;
    // font-weight: 800;

  }

  .tech-icon {
    width: 3.5em;
    margin: 1em;
    // border: dashed $text-color;
    color: $base-color;
  }
  
  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
    box-shadow: 7px 7px 0 -0.05em $base-color, 7px 7px 0 0 $base-color;
  }
  
  .project-card:hover .innerCard {
    transform: rotateY(180deg);
  }
  
  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-evenly;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 0.4em solid ;
    color: black;
    font-weight: 700;
  }

  .backSide {
    padding: 2em;
  }

  .project-body {
    font-size: 1.25em;
  }
  
 .project-img {
   height: 100%;
   width: 100%;
 }
  
  .backSide {
    transform: rotateY(180deg);
  }
  
  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: '';
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }
  
  @keyframes animate {
    0% {
      opacity: 0.3;
    }
  
    80% {
      opacity: 1;
    }
  
    100% {
      opacity: 0.3;
    }
  }